.card-pf-info{
    margin-top: 0px;
    margin-bottom: 0px
}
.card-pf-body{
    margin-bottom: -10px;
    margin-top: 0px;
}
.card-pf{
    padding:0,0,20,20;
}
.card-pf-view .card-pf-info{
    margin-top:5px;
}
textarea{
    width:100%;
    resize: none;
    overflow:hidden;
    text-align: justify;
    resize: none;
    white-space: normal;
    text-align-last: center;
    height:auto !important
}

p{
    margin:0;
}
.card-pf-view-checkbox input[type=checkbox]{display:block}

.name{
    border: none;
    background-color: transparent;
}
.email{
    border: none;
    background-color: transparent;
}
.phone{
    background-color: transparent;
    text-align: center;
    width:95%;
}
@media only screen and (min-width: 991px) {
    .addbutton{
        text-align: right;
    }
    .botao_import{
            margin-top:8%;
        } 
} 

@media  only screen and (min-width: 768px) and (max-width:992px){ 
    .botao_import{
        margin-top:40px;
    } 
    .addbutton{
        text-align: right;
    }
}


@media only screen and (max-width: 768px) {
    .addbutton{
        text-align: left;
    }
    .botao_import{

            margin-bottom:2%;
        } 
} 

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

#checkAll{
    vertical-align: right;
}
