@charset "UTF-8";

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}


.linha-vertical {
    width: auto;/*Altura da linha*/
    margin-top: 18px;
    margin-bottom: 18px;
    border-bottom: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

a {
    text-decoration: none;
} 

button{
    margin-top: 20px;
}
.row{
    display: block;
}

.ou::before{
    content: "";
    display: block;
    width: 115px;
    height: 2px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-bottom: 2px solid;
}
.ou{
    text-align: center;
}

p.ou {
    position: relative;
    z-index: 1;
  }
  p.ou:before {
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    border-top: 4px;
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  p.ou span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #f7f7f7;
    padding: 0 15px;
  }